/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #d84a0e;
  --ifm-color-primary-dark: #c2430d;
  --ifm-color-primary-darker: #b83f0c;
  --ifm-color-primary-darkest: #97340a;
  --ifm-color-primary-light: #ee510f;
  --ifm-color-primary-lighter: #f05818;
  --ifm-color-primary-lightest: #f27039;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --title-color: #ff8652;
}

[data-theme='dark'] {
  --ifm-color-primary: #ff8652;
  --ifm-color-primary-dark: #ff6e30;
  --ifm-color-primary-darker: #ff631f;
  --ifm-color-primary-darkest: #ec4700;
  --ifm-color-primary-light: #ff9e74;
  --ifm-color-primary-lighter: #ffa985;
  --ifm-color-primary-lightest: #ffcdb7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}